.amsterdamContainer {
  padding: 0rem 10rem;
  background-color: #fff;
  padding-top: 0px;
}

.content {
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

.logoContainer {
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-start;
}

.logo {
  width: 120px;
  height: auto;
}

.addressContainer {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.address {
  font-size: 3.5rem;
  font-weight: bold;
  text-align: right;
  line-height: 1.8;
  padding-bottom: 0px;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;
  }
  
  .logoContainer, .addressContainer {
    justify-content: center;
    width: 100%;
    margin-left: 0;
  }
  
  .logo {
    max-width: 80%;
    height: auto;
  }
  
  .address {
    text-align: center;
    font-size: 2rem;
    line-height: 1.5;
    padding: 0 1rem;
  }
  
  .amsterdamContainer {
    padding: 2rem 1rem;
  }
}


@media (max-width: 480px) {
  .address {
    font-size: 2rem;
  }
  
  .content {
    gap: 1.5rem;
  }
} 