@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&display=swap');

.pageContainer {
  padding: 5rem 3rem;
  max-width: 1200px;
  margin: 0 auto;
}

.eventsPageContent {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

@media (max-width: 768px) {
  .pageContainer {
    padding: 4rem 1rem;
  }
}



